.float{
	position:fixed;
	width:60px;
	height:60px;
	bottom:70px;
	right: 10px;
	background-color:rgb(2, 255, 64);
	color:#FFF;
	border-radius:50px;
	text-align:center;
  font-size:30px;
	box-shadow: 2px 2px 3px #999;
  z-index:100;
}
.float:hover {
	text-decoration: none;
	color: rgba(2, 2, 80, 0.91);
  background-color:#1ca04d;
}

.my-float{
	margin-top:16px;
}